examples/Cache Example.json
[
    {
        "id": "f3cb898c.c292b8",
        "type": "inject",
        "z": "e9528acf.2c82d",
        "name": "",
        "topic": "timestamp",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 280,
        "y": 180,
        "wires": [
            [
                "a0110a47.53535"
            ]
        ]
    },
    {
        "id": "a0110a47.53535",
        "type": "Cache in",
        "z": "e9528acf.2c82d",
        "name": "",
        "cache": "b27f65d.3e20898",
        "keyType": "msg",
        "keyProperty": "topic",
        "valueType": "msg",
        "valueProperty": "payload",
        "useString": false,
        "x": 460,
        "y": 180,
        "wires": [
            [
                "64cb797d.35d3"
            ]
        ]
    },
    {
        "id": "64cb797d.35d3",
        "type": "debug",
        "z": "e9528acf.2c82d",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 680,
        "y": 180,
        "wires": []
    },
    {
        "id": "6879b817.90256",
        "type": "inject",
        "z": "e9528acf.2c82d",
        "name": "",
        "topic": "timestamp",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 280,
        "y": 300,
        "wires": [
            [
                "c861ebf4.e5bf7"
            ]
        ]
    },
    {
        "id": "c861ebf4.e5bf7",
        "type": "Cache out",
        "z": "e9528acf.2c82d",
        "name": "",
        "cache": "b27f65d.3e20898",
        "keyType": "msg",
        "keyProperty": "topic",
        "valueType": "msg",
        "valueProperty": "payload",
        "ttlType": "msg",
        "ttlProperty": "",
        "useString": false,
        "x": 460,
        "y": 300,
        "wires": []
    },
    {
        "id": "e9315f78.94def",
        "type": "inject",
        "z": "e9528acf.2c82d",
        "name": "",
        "topic": "timestamp2",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 280,
        "y": 380,
        "wires": [
            [
                "c861ebf4.e5bf7"
            ]
        ]
    },
    {
        "id": "b27f65d.3e20898",
        "type": "Cache",
        "z": "",
        "name": "abcd",
        "defaultTtl": "10",
        "checkPeriod": "30"
    }
]
